/* Start Global Rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root {
    --main-Color: #7EC13F;
    --main-Transtion: all 0.4s ease-in-out;
}
body {
    font-family: cairo;
    transition:var(--main-Transtion) ;
    -webkit-transition:var(--main-Transtion) ;
    -moz-transition:var(--main-Transtion) ;
    -ms-transition:var(--main-Transtion) ;
    -o-transition:var(--main-Transtion) ;
}
.main-header {
    margin: 20px auto;
    text-align: center;
}
.main-header h5 {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
}
.main-header h5::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        width: 50px;
        height: 2px;
        background: #000;
}
/* End Global Rules  */
/* Start Header  */
.header {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.header.active {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202020;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
    z-index: 999999;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    font-size: 25px;
    color: #fff;
    font-weight: bold;
}
.header .burger-icon {
    display: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
@media (max-width: 991px) {
    .header .burger-icon {
        display: flex;
    }
}
.header ul {
    display: flex;
    list-style: none;
}
@media (max-width: 991px) {
    .header ul {
        display: none;
    }
}
.header ul a {
    position: relative;
    padding: 13px;
    color: #fff;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.header ul a:hover {
    color: var(--main-Color);
}
.header ul a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 0%;
    height: 1px;
    background-color: #fff;
}
.header ul a:hover::after {
    width: 80%;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.header ul a.active {
    color: var(--main-Color);
}
.header ul a.active::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 80%;
    height: 1px;
    background-color: #fff;
}
.header-overly {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999999999;
    animation: hide 0.4s ease-in-out forwards;
    -webkit-animation: hide 0.4s ease-in-out forwards;
}
.header-overly ul {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            list-style: none;
            background: #202020;
            width: 90%;
            height: 90%;
            padding: 10px!important;
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
}
.header-overly a {
    display: block;
    padding: 20px;
    border-bottom: 1px solid #2C2C2C;
    color: #fff;
}
.header-overly .close-button {
            background: var(--main-Color);
            padding: 10px;
            cursor: pointer;
            color: #fff;
            font-weight: bold;
            position: absolute;
            top: -20px;
            right: -20px;
            text-transform: uppercase;
}
/* End Header  */
/* Start Landing  */
.landing {
    position: relative;
    overflow: hidden;
}
.landing .slider-wrap {
    overflow: hidden;
}
.landing .slider {
    display: flex;
    width: 300%;
}
.landing .slide {
    position: relative;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
.landing .slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0, 0, 0, 0.4) repeat;
}
.landing .container {
    position: absolute;
    top: 50%;
    left:50%;
    text-align: center;
    z-index: 1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .container.active {
    animation: hidden 0.4s linear forwards;
    -webkit-animation: hidden 0.4s linear forwards;
}
.landing h1 {
    position: relative;
    font-size: 50px;
    color: #fff;
}

@media (max-width: 767px) {
    .landing h1 {
        font-size: 30px;
    }
}
@media (max-width: 430px) {
    .landing h1 {
        font-size: 20px;
    }
}
.landing p {
    position: relative;
    margin: 20px 0;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

@media (max-width: 767px) {
    .landing p {
        font-size: 20px;
    }
}
@media (max-width: 430px) {
    .landing p {
        font-size: 16px;
    }
}
.landing .main {
    position: relative;
    padding: 10px;
    border: 2px solid #FFF;
    text-transform: capitalize;
    border-radius: 4px;
    width: 150px;
    background: transparent;
    color: #fff;
    font-weight: bold;
}

.landing .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .btn button {
    position: absolute;
            border: none;
            background: var(--main-Color);
            padding: 10px;
            border-radius: 4px;
            color: #fff;
}
.landing .btn .prev {
    left: -100px;
    opacity: 0;
}
.landing:hover .prev {
    left: 10px;
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.landing .btn .next {
    right: -100px;
    opacity: 0;
}
.landing:hover .next {
    right: 10px;
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.landing .slide-1 {
    background-image: url(../images/slider/1.jpg);
}
.landing .slide-2 {
    background-image: url(../images/slider/2.jpg);
}
.landing .slide-3 {
    background-image: url(../images/slider/3.jpg);
}
/* End Landing  */
/* Start Setting Box  */
.setting-box {
    position: fixed;
    top: 120px;
    left: -250px;
    background-color: #fff;
    height: 80vh;
    width: 250px;
    z-index: 9999;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.setting-box.active {
    left: 0;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.setting-box .icon {
    position: absolute;
    top: 40px;
    right: -30px;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
}
.setting-box .icon svg {
    font-size: 18px;
}
.setting-box .icon.active svg {
    animation: round 1s linear infinite;
    -webkit-animation: round 1s linear infinite;
}
.setting-box .option {
    text-align: center;
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
}
.setting-box ul {
    display: flex;
    list-style: none;
}
.setting-box li {
    text-transform: capitalize;
}
.setting-box .color li {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.6;
}
.setting-box .color li.active {
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.setting-box .color li:nth-child(1) {
    background-color: #7EC13F;
}
.setting-box .color li:nth-child(2) {
    background-color: #d63384;
}
.setting-box .color li:nth-child(3) {
    background-color: #fd7e14;
}
.setting-box .color li:nth-child(4) {
    background-color: #0d6efd;
}
.setting-box .color li:nth-child(5) {
    background-color: #dc3545;
}
.setting-box .theme ul {
    justify-content: space-between;
    align-items: center;
    border: none;
}

.setting-box .theme li {
    width: 49%;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: var(--main-Color);
    color: #fff;
    opacity: 0.6;
}
.setting-box .theme li.active {
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.setting-box .slider-option ul {
    justify-content: space-between;
    align-items: center;
}
.setting-box .slider-option li {
        width: 49%;
            padding: 10px;
            text-align: center;
            border-radius: 4px;
            cursor: pointer;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            background-color: var(--main-Color);
            opacity: 0.5;
            color: #fff;
}
.setting-box .slider-option li.active {
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.setting-box .fonts {
    margin: 10px 0;
}
.setting-box .fonts ul {
    display: flex;
    justify-content: space-between;
}
.setting-box .fonts li {
    padding: 10px;
    width: 49%;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    background-color: var(--main-Color);
    opacity: 0.5;
    color: #fff;
}
.setting-box .fonts li.active {
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.setting-box button {
    width: 100%;
    padding: 5px;
    background: #e92020;
    border: none;
    color: #Fff;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* End Setting Box  */
/* Start About  */
.about {
    position: relative;
    overflow: hidden;
}
.about .box svg {
    color: var(--main-Color);
}
/* End About  */
/* Start Facts  */
.facts {
    position: relative;
    background-image: url(../images/parallax/facts.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: calc(100% + 100px);
}
.facts::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0, 0, 0, 0.4) repeat;
}
.facts .row {
    position: relative;
    z-index: 1;
}
.facts svg {
    color: #fff;
}
.facts span {
    display: block;
    color: #fff;
}
.facts h6 {
    color: #fff;
    text-transform: uppercase;
}
/* End Facts  */
/* Start Section  */
.section {
    position: relative;
    overflow: hidden;
}
.section .section-head {
    display: flex;
}
.section .section-head span {
    width: 19%;
    text-align: center;
    border: 1px solid var(--main-Color);
    margin: 0 5px;
    padding: 10px;
    cursor: pointer;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.section .section-head span:Hover {
        background-color: var(--main-Color);
        color: #fff;
        border: none;
}
.section .section-head span.active {
    background-color: var(--main-Color);
    color: #fff;
    border: none;
}
        .section .section-head span p {
            margin: 5px 0;
        }
@media (max-width: 767px) {
    .section .section-head span p {
        display: none;
    }
}

.section .section-content .box {
    position: relative;
}
.section .section-content .responsive li svg {
    background-color: var(--main-Color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid var(--main-Color);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.section .section-content .responsive li:hover svg {
    background-color: transparent;
    color: var(--main-Color);
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.section .section-content .slider-wrap {
    overflow: hidden;
}
.section .section-content .slider {
    display: flex;
}
.section .section-content .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.section .section-content .btn button {
        border: none;
            background: var(--main-Color);
            color: #fff;
            padding: 10px;
            font-size: 20px;
            font-weight: bold;
            position: absolute;
}
.section .section-content .btn .prev {
    left: -100px;
    opacity: 0;
}
.section .section-content .box:hover .prev {
    left: 0;
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.section .section-content .btn .next {
    right: -100px;
    opacity: 0;
}
.section .section-content .box:hover .next {
    right: 0;
    opacity: 1;
    transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
}
.section .section-content .flexible .box {
    padding: 10px;
    border: 1px solid #E1DDDD;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.section .section-content .flexible img {
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.section .section-content .support img {
    width: 100%;
}
@media (max-width: 767px) {
    .section .section-content .support img {
        display: none;
    }
}
.section .section-content .support svg {
    color: var(--main-Color);
    border: 1px solid var(--main-Color);
    padding: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.section .section-content .support li:hover svg {
    background-color: var(--main-Color);
    color: #fff;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.section .section-content .clean h6 {
    font-weight: bold;
}
.section .section-content .clean svg {
        margin: 0 0 10px;
        border: 1px solid var(--main-Color);
        padding: 13px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 26px;
        color: var(--main-Color);
}
.section .section-content .clean .box:hover svg {
    background-color: var(--main-Color);
    color: #fff;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.section .section-content .use p {
    color: #727272;
}
.section .section-content .use li {
    color: #6E6D6D;
    font-weight: 600;
}
.section .section-content .use img {
    width: 100%;
}
.section .section-content .use,
.section .section-content .support,
.section .section-content .clean,
.section .section-content .flexible {
    display: none;
}
/* End Section  */
/* Start History  */
.history {
    position: relative;
    overflow: hidden;
    background-image: url(../images/parallax/timeline.jpg);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
@media (max-width: 991px) {
    .history {
        height: 100%;
    }
}
.history::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0, 0, 0, 0.4);
}
.history .main-header h5::after {
    background-color: #fff;
}
.history .container {
    position: relative;
    z-index: 1;
    color: #fff;
}
.history ul {
    position: relative;
    list-style: none;
}
.history ul .flex {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .history ul .flex {
        flex-direction: column;
        justify-content: flex-start;
    }
}
.history ul .top-year {
    margin: 17px auto;
        background: #fff;
        padding: 10px;
        border-radius: 50%;
        color: #000;
        width: 60px;
        height: 60px;
        z-index: 1;
        border: 3px solid #919191;
        display: flex;
        justify-content: center;
        align-items: center;
}
@media (max-width: 991px) {
    .history ul .top-year {
        margin: 0 -24px;
    }
}
.history ul .year {
    margin: 10px auto;
        background: #fff;
        padding: 10px;
        border-radius: 50%;
        color: #000;
        width: 60px;
        height: 60px;
        z-index: 1;
        border: 3px solid #919191;
        display: flex;
        justify-content: center;
        align-items: center;
}
@media (max-width: 991px) {
    .history ul .year {
        margin: 0 -24px;
    }
}
.history ul::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 100%;
    background-color: #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
@media (max-width: 991px) {
    .history ul::after {
        left: 0;
        transform: translate(0, 0);
        top: 0;
    }
}
.history li {
    position: relative;
    width: 47%;
    background: rgba(0, 0, 0, .7);
    margin: 15px 0;
}
@media (max-width: 991px) {
    .history li {
        width: calc(100% - 30px) !important;
        margin: 15px 0 0 30px !important;
    }
}
.history .flex .two li {
    width: 94%;
}
.history .flex .two + div li {
    width: 94%;
        margin: 15px 0 0 35px;
}
.history li.right::before {
        content: '';
        position: absolute;
        top: 20px;
        right: -20px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent transparent #fff;
}
@media (max-width: 991px) {
    .history li.right::before {
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -20px;
    width: fit-content;
    }
}
.history li.right::after {
        content: '';
        position: absolute;
        top: 0;
        right: -45px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
}
@media (max-width: 991px) {
    .history li.right::after {
        left: -36px;
        top: 20px;
    }
}
.history li.left::before {
        content: '';
        position: absolute;
        top: 20px;
        left: -18px;
        border-style: solid;
        border-width: 10px;
        border-color: transparent #fff transparent transparent;
}
@media (max-width: 991px) {
    .history li.left::before {
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -20px;
    width: fit-content;
    }
}
.history li.left::after {
        content: '';
        position: absolute;
        top: 20px;
        left: -35px;
        width: 15px;
        height: 15px;
        background: #fff;
        border-radius: 50%;
}
@media (max-width: 991px) {
    .history li.left::after {
        left: -36px;
        top: 20px;
    }
}
@media (max-width: 767px) {
    .history ul h5 {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .history ul p {
        font-size: 13px;
    }
}
/* End History  */
/* Start Our Work  */
.work {
    position: relative;
    overflow: hidden;
}
.work .work-head {
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.work .work-head span {
        text-transform: uppercase;
        border: 1px solid var(--main-Color);
        padding: 10px;
        border-radius: 4px;
        display: block;
        margin: 0 10px;
        transition: var(--main-Transtion);
        -webkit-transition: var(--main-Transtion);
        -moz-transition: var(--main-Transtion);
        -ms-transition: var(--main-Transtion);
        -o-transition: var(--main-Transtion);
        cursor: pointer;
}
.work .work-head span.active {
    background-color: var(--main-Color);
    color: #fff;
}
.work .work-head span:hover {
        background-color: var(--main-Color);
        color: #fff;
}
@media (max-width: 767px) {
    .work .work-head span {
        padding: 3px;
        margin: 0px 2px;
    }
}
.work .row > div {
    padding: 0;
}
.work .box {
    position: relative;
    overflow: hidden;
}
.work img {
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
}
.work .box:hover img {
    transform: scale(1.1) rotate(3deg);
    -webkit-transform: scale(1.1) rotate(3deg);
    -moz-transform: scale(1.1) rotate(3deg);
    -ms-transform: scale(1.1) rotate(3deg);
    -o-transform: scale(1.1) rotate(3deg);
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.overly-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    animation: hide 0.1s linear forwards;
    -webkit-animation: hide 0.1s linear forwards;
    z-index: 999999999  ;
}
.overly-box .box-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #fff;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    animation: hidden 0.5s linear;
    -webkit-animation: hidden 0.5s linear;
}
.overly-box .box-img img {
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.overly-box .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.overly-box .btn button {
    position: absolute;
    border: none;
    background-color: var(--main-Color);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.overly-box .btn .prev {
    left: 20px;
}
.overly-box .btn .next {
    right: 20px;
}
.overly-box .close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.overly-box .close-button:hover {
    color: var(--main-Color);
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.overly-box .box-img .box-head {
        color: var(--main-Color);
        text-transform: capitalize;
        padding: 10px;
        text-align: center;
        font-weight: bold;
}
/* End Our Work  */
/* Start Team  */
.team {
    position: relative;
    overflow: hidden;
}
.team .box {
        border: 1px solid #dfdfdf;
        border-radius: 4px;
}
.team img {
    width: 100%;
}
.team .box h5 {
        color: #cdcdcd;
        font-weight: normal;
        font-size: 16px;
}
.team SVG {
        font-size: 20px;
        padding: 10px 15px 5px 23px;
}
/* End Team  */
/* Start Skills  */
.skills {
    position: relative;
    overflow: hidden;
    background-image: url(../images/parallax/skills.jpg);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.skills::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png);
}
.skills .main-header h5 {
    color: #fff;
}
.skills .main-header h5::after {
    background-color: #fff;
}
.skills .container {
    position: relative;
    z-index: 1;
    color: #fff;
    font-weight: bold;
}
.skills .prog-holder {
    margin: 20px 0;
}
.skills .prog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills .prog-head span {
    position: relative;
    font-size: 20px;
}
.skills .prog-head span::after {
    content: '%';
}
.skills .prog {
    height: 25px;
    width: 100%;
    background-color: #fff;
}
.skills .prog span {
    position: relative;
    display: block;
    width: 0%;
    height: 100%;
    background-color: #25d6eb;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
/* End Skills  */
/* Start Services  */
.services {
    position: relative;
    overflow: hidden;
}
.services .box {
    text-align: center;
    border: 1px solid #EAE7E7;
    border-radius: 4px;
    padding: 15px 20px 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.services svg {
        background: var(--main-Color);
        padding: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: #fff;
        margin: 0 0 10px;
}
.services .box:hover svg {
    background-color: transparent;
    color: var(--main-Color);
}
.services p {
    color: #727272;
}
/* End Services  */
/* Start Choose  */
.choose {
    position: relative;
    overflow: hidden;
}
.choose .tap-head span {
            border-radius: 1px;
            color: #272727;
            font-weight: 700;
            font-size: 16px;
            padding: 8px 16px;
            background: #F3F0F0;
            border-top: 2px solid #F3F0F0;
            cursor: pointer;
}
.choose .tap-head span.active {
        border-top: 2px solid #7EC13F;
        background: #FFF;
        color: #272727;
        font-weight: 700;
        font-size: 16px;
        text-transform: none;
}
.choose .tap-content p {
    border: 1px solid #dbdbdb;
        border-top: none;
        padding: 25px 15px;
        font-size: 14px;
        color: #a9a9a9;
}
.choose .company,
.choose .support {
    display: none;
}
.panel {
    margin: 15px 0;
}
.panel .head {
    position: relative;
    border-radius: 1px;
    color: #272727;
    font-weight: 700;
    padding: 10px;
    background: #F3F0F0;
    border-top: 2px solid #F3F0F0;
    cursor: pointer;
}
.panel h4 {
    margin: 0;
    font-size: 19px;
}
.panel .head::after {
    content: '+';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 28px;
    right: 11px;
}
.panel .collaps {
    margin: 5px 0px 18px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 25px;
    color: rgb(114, 114, 114);
    font-weight: 400;
    transition: var(--main-Transtion);
    display: none;
}
.panel.active .head::after {
    content: '-';
}
.panel.active .collaps {
    display: block;
}
/* End Choose  */
/* Start Video  */
.video {
    position: relative;
    overflow: hidden;
    background-image: url(../images/parallax/cta.jpg);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.video::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0, 0, 0, 0.2);
}
.video .container {
    position: relative;
    z-index: 1;
    color: #fff;
}
.video .main-header h5 {
    color: #fff;
}
.video .main-header h5::after {
    background-color: #fff;
}
.video svg {
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.video .box:hover svg {
    background-color: #fff;
    color: var(--main-Color);
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
.video iframe {
    width: 100%;
}
/* End Video  */
/* Start Blog  */
.blog {
    position: relative;
    overflow: hidden;
}
.blog .box {
    padding: 10px;
    border: 1px solid #F6F3F3;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.blog img {
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.blog .box h5 {
    color: #585957;
    font-weight: 700;
    font-size: 13px;
}
.blog button {
    padding: 10px;
    width: 150px;
    text-transform: capitalize;
    border-width: 1px;
    border-radius: 35px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.blog button:hover {
    background-color: var(--main-Color);
    color: #fff;
    border: none;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
/* End Blog  */
/* Start Testimonlis */
.testimonlis {
    position: relative;
    overflow: hidden;
    background-image: url(../images/parallax/testimonials.jpg);
    height: 90vh;
    background-size: cover;
    background-attachment: fixed;
}
.testimonlis::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0, 0, 0, 0.2);
}
.testimonlis .container {
    position: relative;
    z-index: 1;
    color: #fff;
}
.testimonlis .main-header h5 {
    color: #fff;
}
.testimonlis .main-header h5::after {
    background-color: #fff;
}
.testimonlis .slider-wrap {
    overflow: hidden;
    margin: 80px 0;
}
.testimonlis .slider {
    display: flex;
    width: 300%;
    text-align: center;
}
.testimonlis img {
    margin: 50px 0 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonlis .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.testimonlis .btn button {
    position: absolute;
    border: none;
    background: var(--main-Color);
    padding: 10px;
    border-radius: 4px;
    color: #fff;
}

.testimonlis .btn .prev {
    left: -100px;
    opacity: 0;
}

.testimonlis:hover .prev {
    left: 0;
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}

.testimonlis .btn .next {
    right: -100px;
    opacity: 0;
}

.testimonlis:hover .next {
    right: 0;
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
/* End Testimonlis */
/* Start Client */
.client {
    position: relative;
    overflow: hidden;
}
.client .slider-wrap {
    overflow: hidden;
    margin: 60px 0 0;
}
.client .slider {
    display: flex;
    width: 350%;
}
.client .slide {
    width: fit-content;
}
.client img {
    width: 50%;
    opacity: 0.6;
}
.client img:hover {
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}
/* End Client */
/* Start Contact  */
.contact {
    position: relative;
    overflow: hidden;
    background-image: url(../images/parallax/contact.jpg);
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
}
.contact::after {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../images/pattern.png) rgba(0, 0, 0, 0.1);
}
.contact .container {
    position: relative;
    z-index: 1;
    color:#fff;
}
.contact .main-header h5 {
    color: #fff;
}
.contact .main-header h5::after {
    background-color: #fff;
}
.contact .head {
    margin: 60px 0;
    text-align: center;
}
.contact input,
.contact textarea {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 10px;
    width: 100%;
}
.contact input:focus,
.contact textarea:focus {
    outline-color: var(--main-Color);
}
::placeholder {
    color: #fff;
}
/* End Contact  */
/* Start Footer  */
.footer {
    background-color: #1C1C1C;
    color: #fff;
}
.footer .box {
    text-align: center;
}
.footer span {
    text-transform: capitalize;
    color: var(--main-Color);
}
.footer svg {
    padding: 0 5px 0 0;
}
/* End Footer  */
span.up {
    position: fixed;
    right: 30px;
    bottom: 200px;
    background-color: var(--main-Color);
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    opacity: 0;
    z-index: 99999;
}
span.up.active {
    bottom: 30px;
    opacity: 1;
    transition: var(--main-Transtion);
    -webkit-transition: var(--main-Transtion);
    -moz-transition: var(--main-Transtion);
    -ms-transition: var(--main-Transtion);
    -o-transition: var(--main-Transtion);
}

/* Start Animation  */
@keyframes hide {
    0% {
        width: 0;
        opacity: 0;
}
    100% {
        width: 100%;
        opacity: 1;
}
}
@keyframes hidden {
    0% {
        opacity: 0;
        left: -200px;
}
    100% {
        opacity: 1;
        left: 50%;
}
}
@keyframes round {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}
/* End Animation  */